.text-center.mb-0.bg-secondary.h-100.py-5.pt-5.pb-5{:style => "background-size: cover; background-position: left top; background-repeat: repeat;"}
  .container
    .row{:style => ""}
      .mx-auto.col-md-6.col-10.bg-white.p-5.bg-secondary
        %h2= title ||= "Titulo"
        = form_for @image do |f|
          - if @product.errors.any?
            #error_explanation
              %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
              %ul
                - @product.errors.full_messages.each do |message|
                  %li= message
              
          .form-group
            = f.text_field :title, placeholder: "Nombre del producto", class:"width-f"
          .form-group
            = f.text_area :description, placeholder: "Descripción del producto", class:"width-f"
          .form-group
            = f.file_field :img, placeholder: "imagen", class:"width-f"  
          .form-group
            = f.submit "Guardar", class:"btn btn-secondary mx-2 w-30"   
            = link_to "Volver", home_admin_path, class:"btn btn-secondary mx-2 w-30"    